@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Witaj na stronie miłośników fitnesu i kulturystyki!</h1>
    <p> Jest to "mały fitnesowy świat" stworzony przez miłośników siłowni dla miłośników siłowni. 
        Możesz tu znaleźć blogi przygotowane przez naszych użytkowników, jak i różne poradniki. 
        Ponadto liczymy, że podzielisz się swoją wiedzą oraz przemyślneiami w temacie fitnessu i dodasz swój wpis, wzbogacając tym samym naszą bazę.</p>
</div>
